.container {
	/* flex: 0.2; */
	height: 180px;
	width: 180px;
}
.doughnutData {
	position: relative;
}
.winRatio {
	position: absolute;
	width: 60%;
	height: 60%;
	border-radius: 50%;
	top: 53%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(143, 253, 115, 0.2);
	font-weight: 800;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.winsLoses {
	display: flex;
	justify-content: space-around;
	/* gap: 20px; */
}
.wins,
.loses {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.winData,
.loseData {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	font-size: 13px;
}
.winDot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: rgba(143, 253, 115, 0.5);
}
.loseDot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: rgba(255, 99, 132, 0.5);
}
.result {
	color: rgb(196, 192, 192);
	font-size: 13px;
}
