* {
	margin: 0;
}
.nav-item .active {
	background: blueviolet;
}
#pills-core-tab {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
#pills-league-tab {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
