.container {
	color: #fff;
	display: flex;
	gap: 10px;
	margin-bottom: 10px;
}
.rmLeft {
	flex: 0.8;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	gap: 15px;
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	padding: 10px;
	border-radius: 10px;
	background: rgba(10, 67, 70, 0.5);

	/* display: flex; */
}
.gameMode {
	display: flex;
	align-items: baseline;
	gap: 10px;
}
.gameModeTitle {
	color: rgb(196, 192, 192);
	font-size: 12px;
}
.matchDataWrapper {
	display: flex;
	/* justify-content: space-around; */
	align-items: center;
	/* gap: 5px; */
}
.gamerData {
	display: flex;
	gap: 10px;
	flex: 0.2;
}
.gamerDataImg {
	border-radius: 50%;
}
.nameStatus {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.matchData {
	display: flex;
	flex: 0.8;
	justify-content: space-around;
}
.matchDataItem {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
}
.matchDataItem span:nth-child(2) {
	color: rgb(196, 192, 192);
	font-size: 12px;
}
.rmRight {
	flex: 0.2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	padding: 10px;
	border-radius: 10px;
	background: rgba(10, 67, 70, 0.5);
}
@media screen and (max-width: 1000px) {
	.container {
		display: block;
	}
	.rmLeft {
		display: block;
		width: 100%;
	}
	.rmRight {
		display: block;
		width: 250px;
		margin: 5px auto;
	}
	.rmRight p {
		text-align: center;
	}
	.matchDataWrapper {
		display: block;
	}
}
