.container {
	flex: 0.4;
	display: flex;
	flex-direction: column;
	gap: 10px;
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	padding: 10px;
	border-radius: 10px;
	background: rgba(10, 67, 70, 0.5);
	margin-bottom: 10px;
}
.rankStars {
	display: flex;
	justify-content: center;
}
.prestigeData {
	font-size: 13px;
	display: flex;
	justify-content: space-between;
}
.prestigeDataLeft,
.prestigeDataRight {
	display: flex;
	color: #fff;
	align-items: center;
	gap: 5px;
}
.gamerRank {
	display: flex;
	flex-direction: column;
}
.gamerRank span:nth-child(2) {
	color: rgb(196, 192, 192);
	font-size: 10px;
}
.xpWrapper {
	font-size: 13px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.xpBarContainer {
	position: relative;
}
.xpBar {
	position: absolute;
	width: 100%;
	height: 5px;
	background-color: gray;
	border-radius: 20px;
}
.xpBarProgress {
	position: absolute;
	border-radius: 20px;
	width: 70%;
	height: 5px;
	background-color: skyblue;
	z-index: 9;
}
.xpData {
	display: flex;
	justify-content: space-between;
	color: #fff;
}
.xpDataItem span:nth-child(2) {
	color: rgb(196, 192, 192);
	font-size: 10px;
	margin-left: 5px;
}
@media screen and (max-width: 1000px) {
	.prestigeData {
		display: block;
		margin: 0 auto;
	}
}
